<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
      <div class="indexcontainer">
        <div class="context">
          <% if(currentUser){ %>
            Welcome <%=currentUser.username%>!<br/><br/>
            <a class="waves-effect waves-light btn" href="/main">To Do List</a>
            <a class="waves-effect waves-light btn" href="/main">Not To Do List</a>

            <% } else { %>
              <h6>Welcome to Q Do List! Register and log in to add your list.</h6><br/>
              <a class="waves-effect waves-light btn" href="/users/new">Sign Up</a>&nbsp or &nbsp
              <a class="waves-effect waves-light btn" href="/sessions/new">Log In</a>
            <% } %>
        </div>
        </div>
     <div class="area" >
                 <ul class="circles">
                         <li></li>
                         <li></li>
                         <li></li>
                         <li></li>
                         <li></li>
                         <li></li>
                         <li></li>
                         <li></li>
                         <li></li>
                         <li></li>
                 </ul>
         </div >

  </body>
</html>
