<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
      <div class="container">
            <% if(currentUser){ %>
              <div class="userstatus">
                <form action="/sessions?_method=DELETE" method="POST">
                  wecome <%=currentUser.username%>
                    <input type="submit" value="Log out" class="logout"/>
                </form>
              </div>
                <div class="row">
                  <form action="/main" class="col s12" method="post">
                    <div class="input-field col s12">
                      <input type="text" class="materialize-textarea" name="doing"/>
                      <label for="textarea1">Things to Do</label>
                    <input type="submit" value="ADD" class="waves-effect waves-light btn"/>
                  </form>
                </div>
              </div>
              <% for(let i = 0; i < currentUser.things.length; i++) { %>
                <label>
                <input type="checkbox" id="thingbox" />
                <span><%=currentUser.things[i].doing%></span><br/>
                </label>
              <%} %>





            <% } else { %>
              <a class="waves-effect waves-light btn" href="/users/new">Sign Up</a>
              <a class="waves-effect waves-light btn" href="/sessions/new">Log In</a>
            <% } %>
        </div>

  </body>
</html>
