<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
      <div class="container">
            <% if(currentUser){ %>
              <div class="userstatus">
                <form action="/sessions?_method=DELETE" method="POST">
                  wecome <%=currentUser.username%>
                    <input type="submit" value="Log out" class="logout"/>
                </form>
              </div>
                <div class="row">
                  <form action="/main" class="col s12" method="post">
                    <div class="input-field col s12">
                      <input type="text" class="materialize-textarea" name="doing"/>
                      <label for="textarea1">Things to Do</label>
                      <button class="btn waves-effect waves-light" type="submit">ADD
                      </button>
                  </form>
                </div>
              </div>
              <% for(let i = 0; i < currentUser.things.length; i++) { %>
                <form action="/main/<%=currentUser.things[i]._id%>?_method=DELETE" method="POST">
                  <label>
                    <button type="submit" id="thingbox" class="waves-effect waves-light btn">
                      <%=currentUser.things[i].doing%>
                    </button>
                  </label>
                </form><br/>
                <%} %>

            <% } else { %>
              <a class="waves-effect waves-light btn" href="/users/new">Sign Up</a>
              <a class="waves-effect waves-light btn" href="/sessions/new">Log In</a>
            <% } %>
        </div>
  </body>
</html>
