<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
      <div class="container">
        <h1>Q Do List</h1>

          <% if(currentUser){ %>
              <div class="userstatus">
                <%=currentUser.username%>!
                <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Logout" class="waves-effect waves-light btn"/>
              </form>
              </div>






            <% } else { %>
              <a class="waves-effect waves-light btn" href="/users/new">Sign Up</a>
              <a class="waves-effect waves-light btn" href="/sessions/new">Log In</a>
            <% } %>
        </div>

  </body>
</html>
