<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
      <div class="container">
        <header>
        <div class="header">
        <h5>Q Do List</h5>
        </div>
        </header>
            <% if(currentUser){ %>
              <div class="userstatus">
                <form action="/sessions?_method=DELETE" method="POST">
                  welcome <%=currentUser.username%>
                    <input type="submit" value="Log out" class="logout"/>
                </form>
              </div>
                <div class="row">
                  <form action="/main" class="col s12" method="post">
                    <div class="input-field col s12">
                      <input type="text" class="materialize-textarea" name="doing"/>
                      <label for="textarea1">Things to Do</label>
                      <button class="btn waves-effect waves-light" type="submit">ADD
                      </button>
                  </form>
                </div>
              </div>
              <% for(let i = 0; i < thingz.length; i++) { %>
                <form action="/main/<%=thingz[i]._id%>?_method=DELETE" method="POST">
                    <button type="submit" id="thingbox" class="thingz">
                      <%=thingz[i].doing%>
                    </button>
                </form><br/>
                <%} %>

            <% } else { %>
              <a class="waves-effect waves-light btn" href="/users/new">Sign Up</a>
              <a class="waves-effect waves-light btn" href="/sessions/new">Log In</a>
            <% } %>
        </div>
  </body>
</html>
