<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <div class="header"></div>
      <div class="container">
        <header>
          <div class="header">
          <h5>Q Do List</h5>
          </div>
        </header>
          <div class="spacearea"></div>
            <% if(currentUser){ %>
              <div class="userstatus">
                <form action="/sessions?_method=DELETE" method="POST">
                  <div class="toplink"><a href="/main">To do list</a> | <a href="/nomain">Not to do list</a></div>
                  welcome <%=currentUser.username%>
                  <input type="submit" value="Log out" class="logout"/>
                </form>
              </div>
              <div class="row">
                <form action="/nomain" class="col s12" method="post">
                  <div class="input-field col s12">
                    <input type="text" class="materialize-textarea" name="doing"/>
                    <label for="textarea1">Things not to Do</label>
                    <button class="btn waves-effect waves-light btn-large" type="submit">ADD Things
                    </button>
                  </div>
                </form>
              </div>
              <% for(let i = 0; i < nothings.length; i++) { %>
                  <form action="/nomain/<%=nothings[i]._id%>?_method=DELETE" method="POST">
                    <span class="notdoing"><%=nothings[i].doing%></span>&nbsp&nbsp
                    <a href="/nomain/<%=nothings[i]._id%>/edit" class="nobutton">Edit |</a>
                    <button type="submit" class="nobutton" >Delete</button>
                  </form><br/>
                <%} %>
              <% } else { %>
                <a class="waves-effect waves-light btn" href="/users/new">Sign Up</a>
                <a class="waves-effect waves-light btn" href="/sessions/new">Log In</a>
              <% } %>
          </div>

          <div class="footer">Made by Kyungsub Kim</div>
  </body>
</html>
